<%-include ('header')-%>

<h1>Chào mừng đến với trang admin</h1>
<ol>
    <li><a href="/admin/users/remove">Xóa user</a></li>
    <li><a href="/admin/items/add">Nhập hàng</a></li>
    <li><a href="/admin/items">Chỉnh sửa mặt hàng</a></li>

</ol>

<%-include ('footer')-%>